@import './utils/breakpoints';

body{
  background-image: url("../../public/assets/background.png");
  background-position: center;
  background-size: cover;
}

#progressbar {
    width: 100%;
    background-color: #cccc;
    border-radius: 30px;
    height: 1px;
    position: sticky;
}

#bar {
  //width: 1%;
  height: 10px;
  float: left;
  position:relative;
  z-index:1;
  margin-top: -4px;
  background-color: #9c53fd;
  border-radius: inherit;
}

#mainWrapper{
  max-width: $tablet;
  margin: 40px auto 80px auto;
}