@import '../../styles/utils/colors';

.progressBar{
    width: 100%; 
    height: 1px; 
    background-color: $elephant-paw;

    &--progress{
        height: 15px; 
        background: $barney; 
        border-radius: 30px;
        transition: 600ms linear;
        position: relative;
        float: left;
        z-index: 1;
        margin-top: -7px;
    }
}